<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> I MY ME MINE - Have some fun! </title>
    <style>
    body{
      margin:0;
    }
    h1{
      text-align: center;
      font-size:80px;
      margin:0;
      border-bottom:solid gray;
    }
    a{
      text-decoration: none;
      color: black ;
    }
    h2{

    }
    ul{
      list-style-type: none;
      padding-left:0;
      border-right:solid gray;
      border-bottom:solid gray;
      margin:0;
      padding-left:10px;
    }
    #grid{
      display: grid;
      grid-template-columns: 150px 1fr;
    }

    </style>
  </head>
  <body>
    <h1><a href="index.html">LEE HYUN SUNG</a></h1>

    <div id="grid">
      <ul>
        <li>
          <h2><a href="daily_hs.html">Daily HS</a></h2>
        </li>
        <li>
          <h2><a href="to_do_list.html">To Do</a></h2>
        </li>
        <li>
          <h2><a href="wish_list.html">Wish</a></h2>
        </li>
        <li>
          <h2><a href="inspiration.html">Inspiration</a></h2>
        </li>
        <li>
          <h2><a href="reference.html">Reference</a></h2>
        </li>
        <li>
          <h2><a href="trophy.html">Trophy</a></h2>
        </li>
      </ul>
    </div>

  </body>
</html>
