<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> I MY ME MINE </title>
    <style>
    h1{
      text-align: center;
      font-size:80px;

    }
    a{
      text-decoration: none;
      color: black ;
    }
    </style>
  </head>
  <body>
    <div>
      <h1><a href="index.html">LEE HYUN SUNG</a></h1>
    </div>

    <div>
      <h2><a href="daily_HS.html">Daily HS</a></h2>
    </div>

    <div>
      <h2><a href="to_do_list.html">To Do</a></h2>
    </div>

    <div>
      <h2><a href="wish_list.html">Wish</a></h2>
    </div>

    <div>
      <h2><a href="inspiration.html">Inspiration</a></h2>
    </div>

    <div>
      <h2><a href="reference.html">Reference</a></h2>
    </div>

  </body>
</html>
